<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Hey, I'm Teresa!</h1>
    <p>After working in education for 7 years, I am shifting gears and diving head first into the programming world.  This is my blog to document my journey and new learnings. </p>
    <p>Welcome to my blog and thanks for visitng!</p>

  </div>
</div>
